/* PHASE 4: Footer */

.footer {
  background: white;
  margin: auto;
  width: 900px;
  color: #aaa;
  border-top: 1px solid #aaa;
}

.footer-copy {
  float: left;
  padding: 20px;

}

.footer-links {
  float: right;

}

.footer-links > li {
  padding: 20px;
  float: right;

}

.footer a {
  padding: 10px;
}

.footer a:hover {
  color: black;
}
